<mk-box>
  <mk-box-header></mk-box-header>
  <mk-box-tools>
    <a href="#" [routerLink]="['../']" class="btn btn-danger btn-flat btn-sm"> Back</a>
  </mk-box-tools>
  <mk-box-content>
    <form class="form-horizontal" id="profileForm" method="POST" enctype="multipart/form-data">
      <div class="col-md-9">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Full Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control input-sm required" id="name" name="name" value="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
              <input type="email" readonly class="form-control input-sm required" id="email" name="email" value="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" for="picture">Picture</label>
            <div class="col-md-8">
              <input type="file" class="form-control input-sm" onchange="return readURL(this)" id="profile" name="profile" accept="image/gif, image/jpeg,image/jpg ,image/png"
              />
              <span class="text-danger text-bold" id="photoLabel"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label" for="mobile">Mobile</label>
            <div class="col-md-8">
              <input type="text" class="form-control input-sm" id="mobile" name="mobile" value="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img src="http://via.placeholder.com/150x150?text=Icon Image" id="preview-icon" alt="Profile -placeholder" />
      </div>
      <div class="clearfix"></div>
    </form>
  </mk-box-content>
  <mk-box-footer>
    <div class="col-md-4 col-md-offset-8">
      <button type="reset" class="btn btn-danger btn-flat btn-sm"> Cancel</button>
      <button type="submit" class="btn btn-success btn-flat btn-sm "> Submit</button>
    </div>
  </mk-box-footer>
</mk-box>