<mk-box [isCollapsable]="false" [isRemovable]="false">
  <mk-box-header>Languages</mk-box-header>
  <mk-box-tools>
    <a [routerLink]="['../add']" class="btn btn-primary btn-flat btn-sm pull-right">Add Language</a>
  </mk-box-tools>
  <mk-box-content>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Language</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let language of languages;let i=index">
          <td>{{i+1}}</td>
          <td>{{language.name}}</td>
          <td>
            <label for="" class="label label-success">Active</label>
          </td>
          <td>
            <a class="btn btn-sm btn-flat btn-info" [routerLink]="['../edit/',language.id]"><i class="fa fa-edit"></i></a>
            <a class="btn btn-sm btn-flat btn-danger" (click)="deleteLanguage(language.id,i)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </mk-box-content>
  <mk-box-footer></mk-box-footer>
</mk-box>